body > div {
 margin: auto;
}
.pp {
 background-color: #e5dcf0;}
.pk {
 background-color: #ffd9df;}
.sb {
 background-color: #87ceeb;}


#top {
 width: 800px;
 margin: 20px auto;
 text-align: center;}
 
.top-child {
 width: 20%;
 display: inline-block;}


#middle {
 width: 800px; height: 800px;
 margin: 20px auto;
 position: relative;}

#middle > p {
 width: 200px; height: 200px;
 position: absolute;
}
#middle-child01 {
 top: 100px; left: 100px;}
#middle-child02 {
 top: 300px; left: 300px;}
#middle-child03 {
 top: 500px; left: 500px;}


#bottom {
 width: 800px; height: 300px;}

#bottom > div {
 width: 400px; height: 100px;
 position: relative;
}
#bottom-child02 {
 left: 200px;}
#bottom-child03 {
 left: 400px;}

